@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========================
   Base & CSS Variables
   ========================= */
@layer base {
  :root {
    /* Core */
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    /* Primary */
    --primary: 201 100% 27%;
    /* hsla(201, 100%, 27%, 1) */
    --primary-foreground: 210 40% 98%;

    /* Secondary */
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    /* Accent */
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    /* Destructive */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    /* UI */
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.75rem;

    body {
      @apply font-sans;
    }
  }

  html {
    direction: rtl;
  }

  body {
    min-height: 100vh;
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    font-variant-numeric: lining-nums;
    font-feature-settings: "ss01", "locl";
  }
}
